
<!DOCTYPE html>
<html>
<head>
  <title>Analysis</title>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style type="text/css">
      #wrapper {
        margin: 25px;
      }
      h4 {
        padding: 5px;
        text-align: center;
      }
      .heuristic-element {
      }
    </style>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<div id="wrapper">
  <h1>Comprehensive Analysis Report</h1>


  <div class="heuristic-element">
    <h4 style="background-color: #343a40; color: white;"> Total Messages (TM) Heuristic</h4>
    <table class="table table-striped table-hover table-responsive">
      <tbody>
         <tr>
            <th class="bg-danger" style="color: white;" scope="row">TM Heuristic</th>
            <td>Leverage LTM and NTM differences to determine the authentication status</td>
          </tr>
          <tr>
            <th class="bg-danger" style="color: white;" scope="row">Algorithm</th>
            <td>Step1: do this, Step2;</td>
          </tr>
          <tr>
            <th class="bg-danger" style="color: white;" scope="row">Result</th>
            <td>
              <ul>
                {% for instruction in TM_H %}
                  <li>  {{ instruction }} </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="heuristic-element">
    <h4 style="background-color: #343a40; color: white;"> Total Distinctive Origins (TDO) Heuristic</h4>
    <table class="table table-striped table-hover table-responsive">
      <tbody>
         <tr>
            <th class="bg-danger" style="color: white;" scope="row">TDO Heuristic</th>
            <td>Leverage LTDO and NTDO differences to determine the authentication status</td>
          </tr>
          <tr>
            <th class="bg-danger" style="color: white;" scope="row">Algorithm</th>
            <td>Step1: do this, Step2;</td>
          </tr>
          <tr>
            <th class="bg-danger" style="color: white;" scope="row">Result</th>
            <td>
              <ul>
                {% for instruction in TDO_H %}
                  <li>  {{ instruction }} </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="heuristic-element">
    <h4 style="background-color: #343a40; color: white;"> Different Message Data (DMD) Heuristic</h4>
    <table class="table table-striped table-hover table-responsive">
      <tbody>
         <tr>
            <th class="bg-danger" style="color: white;" scope="row">DMD Heuristic</th>
            <td>Leverage LDMD and NDMD differences to determine the authentication status</td>
          </tr>
          <tr>
            <th class="bg-danger" style="color: white;" scope="row">Algorithm</th>
            <td>Step1: do this, Step2;</td>
          </tr>
          <tr>
            <th class="bg-danger" style="color: white;" scope="row">Result</th>
            <td>
              <ul>
                {% for instruction in DMD_H %}
                  <li>  {{ instruction }} </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

  <div class="heuristic-element">
    <h4 style="background-color: #343a40; color: white;"> Pair Messages Origin (PMO) Heuristic</h4>
    <table class="table table-striped table-hover table-responsive">
      <tbody>
         <tr>
            <th class="bg-danger" style="color: white;" scope="row">DMD Heuristic</th>
            <td>Leverage PO and PMO differences to determine the authentication status</td>
          </tr>
          <tr>
            <th class="bg-danger" style="color: white;" scope="row">Algorithm</th>
            <td>Step1: do this, Step2;</td>
          </tr>
          <tr>
            <th class="bg-danger" style="color: white;" scope="row">Result</th>
            <td>
              <ul>
                {% for instruction in PMO_H %}
                  <li>  {{ instruction }} </li>
                {% endfor %}
              </ul>
            </td>
          </tr>
      </tbody>
    </table>
  </div>

  <div style="margin-left: 50px;">
    <br/>
     <p>  <b> LTM: </b> Logged in - total number of messages     </p>   
     <p>  <b> NTM: </b> Logged out - total number of messages     </p>     
     <p>  <b> ACBTM:</b>  Attack candidate because of total messages   </p>        
     <p>  <b> LTDO:</b>  Logged in - total number of different origins    </p>   
     <p>  <b> NTDO:</b>  Logged out - total number of different origins     </p>      
     <p>  <b> ACBTDO</b> Attack candidate because of total number of different origins   </p>           
     <p>  <b> LDMD:</b>  Logged in - different message data  </p>       
     <p>  <b> NDMD:</b>  Logged out - different message data   </p>         
     <p>  <b> ACBD:</b>  Attack candidate because of message data    </p>         
     <p>  <b> MO: </b> Message origin if message data is same      </p>     
     <p>  <b> PMO: </b> message origin of paired data if message data is same     </p>         
     <p>  <b> ACBO:</b>  Attack candidate because of origin</p>
  <br/>

     <p> << ----  </p>
      <a class="color: white !important;" href="{% url 'mainApp:analysis-list' siteId=siteId %}">
        <button class="btn btn-primary">back to list</button>
     </a>
 </div> 

</body>
</html>

